
  <% if @logged_user["role"] == "admin" %>
      <div class="text-center">
      <%= link_to " Add new project", new_project_path,action_name: :new %>       |
      <%= link_to "Reports", reports_path,action_name: :show%>       |
      <%= link_to "Add new user", new_user_path, action_name: :new %>
      </div>
      <br>

    <div class="row row-grid text-info " >
      <%= render 'programmers'%>
      <%=render 'projects'%>
      <%=render 'leaders'%>
      </div>
      <br>
      <div class="row row-grid text-info ">
        <%= render 'notes'%>
      <%= render 'latesttasks' %>

    </div>

  <% elsif @logged_user["role"] == "team leader" %>
      <h3 class="text-center "><%= link_to "Reports", reports_path,action_name: :show%></h3>
      <div class="row row-grid text-info" >
      <%= render 'programmersforleaders'%>
      <%= render 'myprojects'%>
      </div>

      <div class="row row-grid text-info" >
        <%= render 'notes'%>
      <%= render 'latesttasks' %>
      </div>


  <% elsif @logged_user["role"] == "programmer" %>
      <div class="row row-grid text-info " >
        <%= render 'myprojects'%>
        <%= render 'latesttasks' %>
      </div>
      <br>
      <div class="row row-grid text-info col-sm-offset-4">
        <%= render 'notes'%>

      </div>
  <%end%>
<br>



