<div class="col-md-6">
      <div class="col-md-12 bg-info ">
        <h4 class="text-center">On going tasks:</h4>
        <table class="table ">
          <thead class="text-center">

          <tr>
            <th></th>
            <th class="text-center">Name</th>
            <th class="text-center">Creator</th>
            <th class="text-center">Assigned user</th>
            <th></th>
            <th></th>
            <th>Time worked</th>
            <th> Status</th>
          </tr>
          </thead>
          <tbody>
          <% @project.tasks.each do |t| %>
              <tr>
                <% if t.status == "started" %>
                 <td class="text-center"><%=  link_to '<i class="glyphicon glyphicon-hand-right"></i>'.html_safe, {controller: 'tasks', action: 'show', id: t.id, project_id: @project.id},
                                                         class: "btn btn-xs" %> </td>
                <td class="text-center"><%= t.title %></td>
                <td class="text-center"><%= t.creator.name %></td>
                <td class="text-center"><%=t.assigned_user.name %></td>
                    <% if t.assigned_user.name == t.creator.name%>
                <td><%= link_to '<i class="glyphicon glyphicon-pause"></i>'.html_safe, {controller: 'tasks', action: 'pause_task', id: t.id, project_id: @project.id},
                                        class: "btn btn-xs", id: "pause_b" %></td>
                <td><%= link_to '<i class="glyphicon glyphicon-stop"></i>'.html_safe, {controller: 'tasks', action: 'stopped_task', id: t.id, project_id: @project.id},
                                        class: "btn btn-xs", id: "stop_b" %></td>
                        <% else%>
                        <td></td>
                        <td></td>
                        <%end%>
                <td><%= t.time_worked %> seconds</td>
                <td><%= t.status %></td>  


                <% elsif t.status == "paused" %>
                    <td class="text-center"><%=  link_to '<i class="glyphicon glyphicon-hand-right"></i>'.html_safe, {controller: 'tasks', action: 'show', id: t.id, project_id: @project.id},
                                                         class: "btn btn-xs" %> </td>
                <td class="text-center"><%= t.title %></td>
                    <td class="text-center"><%= t.creator.name %></td>
                    <td class="text-center"><%=t.assigned_user.name %></td>
                    <% if t.assigned_user.name == t.creator.name%>
                <td><%= link_to '<i  class="glyphicon glyphicon-play "></i>'.html_safe, {controller: 'tasks', action: 'start_task', id: t.id, project_id: @project.id},
                                            class: "btn btn-xs", id: "start_b" %></td>
                        <td><%= link_to '<i class="glyphicon glyphicon-stop"></i>'.html_safe, {controller: 'tasks', action: 'stopped_task', id: t.id, project_id: @project.id},
                                        class: "btn btn-xs", id: "stop_b" %></td>
                    <% else%>
                        <td></td>
                        <td></td>

                    <%end%>

                <td><%= t.time_worked %> seconds</td>
                <td><%= t.status %></td>  
                <% end %>

              </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>

