<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <p class="text-info"><%= link_to 'Back', "/dashboard" %></p>
  </div>
</div>
<br>

<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <% @project.id %>
    <% if @user.role == "team leader"%>
    <p class="text-info"><%= link_to "Add new task", new_project_task_path %></p>
        <% end %>
  </div>
  <br>


 <div class="row row-grid text-info">
 <%= render "notstarted" %>
 <% if @user.role == "team leader"%>

      <%= render "started" %>
 <% elsif @user.role == "programmer" %>
      <%= render "mytasks" %>
 <% end %>
 <%= render "ended" %>

 
 </div>
<div>
<br>
<% if @user.role == "team leader"%>
<%= render 'sameprojectusers' %>
<%end%>
</div>
</div>
