<!DOCTYPE html>
<html>
<header>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">

          <p>Project: <%= @project.name %></p>
        </a>
      </div>
    </div>
  </nav>
</header>
<body class="bg-success">
<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <p class="text-info"><%= link_to 'Back', "/dashboard" %></p>
  </div>
</div>
<br>

<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <% @project.id %>
    <p class="text-info"><%= link_to "Add new task", new_project_task_path %></p>
  </div>
  <br>


 <div class="row row-grid text-info">
 <%= render "notstarted" %>
 <% if @user.role == "team leader"%>
      <%= render "started" %>
 <% elsif @user.role == "programmer" %>
      <%= render "mytasks" %>
 <% end %>
 <%= render "ended" %>

 
 </div>
<div>
<br>
<% if @user.role == "team leader"%>
<%= render 'sameprojectusers' %>
<%end%>
</div>
</div>

</body>
</html>
