
<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <% if User.find(session[:id]).role == "admin"%>
    <p  class="text-info" ><%= link_to 'Back', "/projects/#{@task.project_id}" %></p>
        <% else %>
    <p  class="text-info" ><%= link_to 'Back', "/projects/#{@task.project_id}/tasks" %></p>
<%end%>
  </div>

  <div class="col-md-3 col-md-offset-1 bg-info">
    <p >Task title: <%= @task.title %></p>
    <p >Details: <%= @task.details %></p>
    <p >Creator: <%= @task.creator.name %></p>
    <p >Assigned user: <%= @task.assigned_user.name %></p>
  </div>

  <div class="col-md-8">
    <h4>Comments</h4>
    <div class="col-md-12 " >
    <% @task.comments.each do |comment|%>
          <div class="bg-info">
      <p>
        <strong>Comenter:</strong>
        <%= comment.user.name%>
      </p>
          <p>
            <strong>Comment:</strong>
            <%= comment.content %>
          </p>
            <% if comment.user.name == @logged_user["name"]%>
            <p><%= button_to "Delete" ,[comment.task.project,comment.task,comment],method: :delete,data: {confirm: 'Are you sure?'},
                             class: 'btn btn-xs btn-danger'%></p>
                <%end%>
          </div>

      <% end %>
    </div>
    <h2>Add a comment:</h2>
    <%= form_for ([@task.project,@task,@task.comments.build]) do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content%>

        </p>
        <p>
          <%= f.submit "Add comment" %>
        </p>
    <% end %>

</div>
</div>

