<header >
<h3>Hello admin</h3>
<div id="logout_button"><%= button_to "Log out", logout_path, :method => :delete%></div>
</header>
<body>
  <p>
  <%= link_to "Add new project", controller: "projects", action: "new", id: @project %>|
    <%= link_to "Add new user", new_user_path, action_name: "new" %>
</p>


<div >
  List of programmers:

<table style="border: 1px solid">
  <tr >
    <th style="border: 1px solid">Name</th>
    <th style="border: 1px solid">Email</th>
  </tr>
  <% @user = User.where(role: 'programmer') %>
  <% @user.each do |user| %>

  <tr>
        <td style="border: 1px solid"><%= user.name %></td>
        <td style="border: 1px solid"><%= user.email %></td>
  </tr>
  <% end %>
</table>
  </div>
<br>
<div >
  List of team leaders:

<table style="border: 1px solid">
  <tr >
    <th style="border: 1px solid">Name</th>
    <th style="border: 1px solid">Email</th>
  </tr>
  <% @user = User.where(role: 'team leader') %>
  <% @user.each do |user| %>

      <tr>
        <td style="border: 1px solid"><%= user.name %></td>
        <td style="border: 1px solid"><%= user.email %></td>
      </tr>
  <% end %>
</table>
</div>
<br>
<div >
  List of projects:

<table style="border: 1px solid">
  <tr >
    <th style="border: 1px solid">Name</th>
    <th style="border: 1px solid">Details</th>
  </tr>
  <% @project = Project.all %>
  <% @project.each do |user| %>

      <tr>
        <td style="border: 1px solid"><%= user.name %></td>
        <td style="border: 1px solid"><%= user.description %></td>
      </tr>
  <% end %>
</table>
</div>
<br>
</body>