<h1 style="text-align: center">Create new user</h1>

<%= form_for(@user) do |f| %>
    <p style="margin-left:40%"><%= f.text_field :name, :placeholder => "Name" %></p>
    <p style="margin-left:40%"><%= f.email_field :email, :placeholder => "Email" %></p>
    <p style="margin-left:40%"><%= f.password_field :password, :placeholder => "Password" %></p>
    <p style="margin-left:40%"><%= f.select :role, ['admin','team leader', 'programmer'] %></p>
    <p style="margin-left:40%"><%= f.submit "Create an account" %></p>
<% end %>

