<!DOCTYPE html>
<html>
<header >
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >
          <p>Project Management App</p>
        </a>
        <p class="navbar-text">Signed in as <%= User.find(session[:user_id]).name%></p>

      </div>
      <a  class="navbar-right " ><%= button_to "Log out", logout_path, :method => :delete,:class=>"btn btn-default btn-sm"%></a>
    </div>
  </nav>
</header>
<body class="bg-success">
<% @user = User.find(session[:user_id])%>

<div class="row row-grid text-info">
  <div class="col-md-12 ">
    <div class="col-md-12 bg-info ">
      <%= @user.projects.find_each do |p|%>
      <table class="table ">
        <h4 class="text-center">List of my projects:</h4>
        <thead class="text-center">
        <tr>
          <th class="text-center">Name</th>
        </tr>

        </thead>
          <tbody class="text-center">
          <tr>

            <td><%=link_to p.name, controller: 'tasks', action: 'index', :project_id => p.id%></td>
          </tr>
          </tbody>
        <%end%>
        </table>
      </div>
      </div>
      </div>
<br>
<h4 class="text-center">Users working at the same projects</h4>
<% @projects= @user.projects.all %>
<% @projects.each do |p| %>
  <div class="col-md-6 ">
    <div class="col-md-12 bg-info ">
      <table class="table ">
        <thead class="text-center">
        <tr>
          <th class="text-center"><%= p.name %></th>
        </tr>
        </thead>
        <% p.users.find_each do |u| %>
            <tbody class="text-center">
            <tr>
              <% if u != @user %>
              <td><%= u.name%></td>
                  <%end%>
            </tr>
            </tbody>
        <%end%>
      </table>
    </div>
  </div>
<%end%>
</body>
</html>