<p>Project: <%= @project.name%></p>

<p>Details: <%= @project.description %></p>


<% @user = User.where.not(role: 'admin')%>

<br>
<div>
  Users working at this project:
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% @project.users.each do |f|%>
        <tr>
          <td><%= f.name%></td>
        </tr>
    <%end%>

  </table>
</div>
<br>
<div>

  <p>Users available:</p>
  <table>
    <tr>
      <th></th>
      <th>name</th>
      <th>role</th>
    </tr>

      <%= form_for @project do %>

          <% @user.each do |user| %>
            <% unless @project.assigned_to?(user) %>
            <tr>
              <%= hidden_field_tag 'project[user_ids][]',nil %>
              <td><%= check_box_tag 'user_ids[]', user.id%></td>
              <td><%= user.name %></td>
              <td><%= user.role %></td>
                <%end%>
          <% end%>

        </tr>
        <%= submit_tag 'Add user to project' %>
      <%end %>
  </table>

</div>
