<!DOCTYPE html>
<html>
<header >
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >
          <p>Project: <%= @project.name%></p>
        </a>
      </div>
    </div>
  </nav>
</header>
<body class="bg-success">
<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <p  class="text-info" ><%= link_to 'Back', '/admin' %></p>
<h4>Details: <%= @project.description %></h4>
  </div>
</div>

<div class="row row-grid text-info">
  <div class="col-md-6 ">
    <div class="col-md-12 bg-info ">
<% @user = User.where.not(role: 'admin')%>


  <table class="table">
    <h4>Users working at this project:</h4>
    <thread>
    <tr>
      <th>Name</th>
    </tr>
    </thread>
    <tbody>
    <% @project.users.each do |f|%>
        <tr>
          <td><%= f.name%></td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>
    </div>
  <%= form_for @project do %>
 <div class="col-sm-6 ">
  <div class="col-md-12 bg-info">

  <table class="table">
    <h4>Users available:</h4>
    <thread>
    <tr>
      <th></th>
      <th>name</th>
      <th>role</th>
    </tr>
    </thread>
          <% @user.each do |user| %>
            <% unless @project.assigned_to?(user) %>
            <tbody>
            <tr>
              <%= hidden_field_tag 'project[user_ids][]',nil %>
              <td><%= check_box_tag 'user_ids[]', user.id%></td>
              <td><%= user.name %></td>
              <td><%= user.role %></td>
                <%end%>
          <% end%>
        </tr>
    </tbody>
  </table>
        </div>

      <p><%= submit_tag 'Add user to project', :class => 'btn btn-success' %></p>
  <%end %>
    </div>
</div>

</body>
</html>