<p>Project: <%= @current_project.name%></p>

<p>Details: <%= @current_project.description %></p>


<% @user = User.all%>

<br>
<div>
  Users working at this project:
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% @current_project.users.each do |f|%>
        <tr>
          <td><%= f.name%></td>
        </tr>
    <%end%>

  </table>
</div>

<div>


  <%= form_for @current_project do |f|%>
      <%= f.select(:users,options_from_collection_for_select(@user, :id,:name)) %>
      <%= submit_tag 'Add user to project' %>
  <%end %>


</div>


