<% i=1 %>

    <table class="table">
      <thead class="text-center">
      <tr>
        <th >Day </th>
        <th >Assigned user</th>
        <th >Task title</th>
        <th >Project name</th>
        <th >Time Worked</th>

      </tr>

      </thead>

      <% @days_month.each do |d| %>
          <tbody >
          <tr>
            <% if d[:is_free_day]  %>
                 <td class="bg-success" ><%= i %></td>
                 <td class="bg-success"></td>
                 <td class="bg-success"></td>
                 <td class="bg-success"></td>
                 <td class="bg-success"></td>

            <% else%>
                <% if d[:tasks].empty? %>
                    <tr>
                      <td><%= i %></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>

                    </tr>
                <% else %>
                    <% j = 0 %>
                    <% d[:tasks].each do |f| %>
                        <tr>
                          <% if j == 0 %>
                              <td rowspan="<%= d[:tasks].count %>"><%= i %></td>
                          <% end %>
                          <td><%= f[1][:task_obj].assigned_user.name %></td>
                          <td><%= f[1][:task_obj].title %></td>
                          <td><%= f[1][:task_obj].project.name %></td>
                          <td><%= distance_of_time_in_words(f[1][:task_obj].time_worked) %></td>


                        </tr>
                        <% j += 1 %>
                    <% end %>
                <% end %>

            <%end%>


          </tbody>
          <% i+=1 %>
      <% end %>
    </table>

